global-exclude *.pkl
global-exclude __pycache__
recursive-include lccserver/frontend *
include LICENSE
include README.md
recursive-include tests *.py
include versioneer.py
include lccserver/_version.py
