ipython>=7.3
numpy>=1.16
scipy==1.2.1
tornado>=5.1
requests>=2.19.1
tqdm==4.31.1
Markdown==3.0.1
pygments==2.3.1
cryptography>=2.3
astrobase>=0.4.0
SQLAlchemy>=1.2.11
passlib==1.7.1
bcrypt==3.1.6
argon2-cffi==19.1.0
diskcache==3.1.1
fuzzywuzzy==0.17.0
bleach==3.1.0
sqlparse==0.3.0
matplotlib>=2.0
shapely>=1.6
astropy>=3.0
scour>=0.37
