<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">

    <!-- lcc-server CSS -->
    <link rel="stylesheet" href="{{ static_url('css/lcc-server.css') }}">

    {% block pagecss %}

    {% end %}

    <title>{{ page_title }}</title>
  </head>

  <body>

    {% block pagecontent %}
    <div class="container-fluid">

      <h1>Hello, world! This is the {{ page_title }} page.</h1>

    </div>
    {% end %}

    <!-- utility scripts -->
    <script src="{{ static_url('js/jquery.min.js') }}"></script>
    <script src="{{ static_url('js/popper.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('js/moment.min.js') }}"></script>
    <script src="{{ static_url('js/oboe-browser.min.js') }}"></script>

    {% block pagejs_modules %}

    {% end %}

    <script>
    {% block pagejs %}

    {% end %}
    </script>

  </body>

</html>
