<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- favicon -->
    <link rel="icon" type="image/png" href="{{ static_url('images/favicon.png') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">

    <!-- animate CSS -->
    <link rel="stylesheet" href="{{ static_url('css/animate.min.css') }}">

    <!-- lcc-server CSS -->
    <link rel="stylesheet" href="{{ static_url('css/lcc-server.css') }}">

    {% block pagecss %}

    {% end %}

    <title>{{ page_title }}</title>
  </head>

  <body>

    {% block topnav %}
    <!-- the top bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <a class="navbar-brand" href="/">
        <img class="icon-logo"
             src="{{ static_url('images/lcc-logo-web.svg') }}">
      </a>

      <a class="nav-item nav-link"
         title="See all public datasets"
         href="/datasets">
        Datasets
      </a>

      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active">
            <strong>{{ page_title }}</strong> <span class="sr-only">(current)</span>
          </a>
        </div>
      </div>

      <!-- <form class="form-inline" id="quicksearch-form" -->
      <!--       action="/api/conesearch" method="post"> -->

      <!--   {% module xsrf_form_html() %} -->

      <!--   <select class="custom-select form-control" id="qt" name="qt"> -->
      <!--     <option value="conesearch" selected>Quick cone search</option> -->
      <!--     <option value="objectidsearch">Quick object search</option> -->
      <!--     <option value="xmatchsearch">Quick cross-match search</option> -->
      <!--   </select> -->

      <!--   <div class="input-group"> -->

      <!--     <input class="form-control ml-sm-2" id="q" name="q" -->
      <!--            type="search" -->
      <!--            placeholder="[RA] [Dec] [optional radius (arcmin)]" -->
      <!--            aria-label="Search"> -->
      <!--     <div class="input-group-append"> -->
      <!--       <button class="btn btn-outline-success my-2 my-sm-0" -->
      <!--               type="submit">Go</button> -->
      <!--     </div> -->

      <!--   </div> -->

      <!-- </form> -->

      <div class="ml-auto">
        <a class="nav-item nav-link"
           title="Read the docs"
           href="/docs">
          Docs
        </a>
      </div>

    </nav>
    {% end %}

    {% block pagecontent %}
    <div class="container-fluid">

      <h1>Hello, world! This is the {{ page_title }} page.</h1>

    </div>
    {% end %}

    <footer class="text-muted">
      <div class="container-fluid" >
        <div class="row" >
          <div class="col" >
            <hr>
          </div>
        </div>
        <div class="row justify-content-between p-3">
          <div class="col-3" >
            <ul class="list-unstyled" >
              <li><a href="https://github.com/waqasbhatti/lcc-server" >LCC Server</a> &mdash; <a href="/docs" >Docs</a></li>
              <li>v{{ lccserver_version }}</li>
            </ul>
          </div>
          <div class="col-3" >
            <ul class="list-unstyled" >
              <li><strong><a href="{{ siteinfo['project_link'] }}">{{ siteinfo['project'] }}</a></strong> &mdash; <a href="/docs/citation" >Citing data</a></li>
              <li><a href="{{ siteinfo['department_link'] }}">{{ siteinfo['department'] }}</a></li>
              {% if siteinfo['institution_logo'] %}
              <li><a href="{{ siteinfo['institution_link'] }}"><img src="{{ siteinfo['institution_logo'] }}" alt="{{ siteinfo['institution'] }}"></a></li>
              {% else %}
              <li><a href="{{ siteinfo['institution_link'] }}">{{ siteinfo['institution'] }}</a></li>
              {% end %}
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- bootstrap scripts -->
    <script src="{{ static_url('js/jquery.min.js') }}"></script>
    <script src="{{ static_url('js/popper.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>

    <!-- time utilities -->
    <script src="{{ static_url('js/moment.min.js') }}"></script>

    <!-- streaming JSON handler -->
    <script src="{{ static_url('js/oboe-browser.min.js') }}"></script>

    <!-- our own js modules -->
    <script src="{{ static_url('js/lcc-server.js') }}"></script>

    {% block pagejs_modules %}

    {% end %}

    <script>
     {% block pagejs %}

     $(document).ready(function() {

       // UI action setup
       lcc_ui.action_setup();

       // format all the moments
       $('.moment-format').each(function (index, elem) {

         // get the text we need
         var mt = moment($(this).text()).fromNow();
         $(this).html($(this).text() + ' <strong>(' + mt + ')</strong>');

       });

     });
     {% end %}
    </script>

  </body>

</html>
