{% extends 'base-docs.html' %}

{% block pagecontent %}

<div class="container">

  <div class="row" >
    <div class="col-12" >
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb lcc-breadcrumb">
          <li class="breadcrumb-item"><a href="/docs">Docs</a></li>
          <li class="breadcrumb-item active"
              aria-current="page">{{ page_title }}</li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="row justify-content-center markdown-docs">
    <div class="col-9">
      {% raw page_content %}
    </div>
  </div>


</div>

{% end %}

{% block pagejs %}

$(document).ready(function() {

// add some bootstrap classes to our markdown content

// make tables look a bit better
$('table').addClass('table table-sm table-striped');
$('table thead').addClass('thead-dark');
$('table > thead > tr > th:nth-child(1)').attr('width',150);

// add fancy shadows for TOC
$('.toc').addClass('shadow p-3 mb-5 bg-white rounded');

// make the syntax hilite bits look a bit better
$('pre').addClass('p-2');

// make blockquotes look a bit better
$('blockquote').addClass('blockquote text-muted');


});


{% end %}
