{% extends 'base-docs.html' %}

{% block pagecontent %}

<div class="container">

  <div class="row" >
    <div class="col-12" >
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb lcc-breadcrumb">
          <li class="breadcrumb-item"><a href="/docs">Docs</a></li>
          <li class="breadcrumb-item active"
              aria-current="page">{{ page_title }}</li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      {% raw page_content %}
    </div>
  </div>


</div>

{% end %}
