{% extends 'base.html' %}

{% block pagecss %}

<!-- Codemirror CSS -->
<link rel="stylesheet" href="{{ static_url('css/codemirror.css') }}">

{% end %}


{% block pagecontent %}

<!-- this is where all the alerts go -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <div id="alert-box">

      </div>
    </div>
  </div>
</div>

<!-- the main search form -->
<div class="container-fluid">
  <div class="row top-margin-row search-controls">

    <div class="col-12">

      <ul class="nav nav-tabs" id="myTab" role="tablist">

        <li class="nav-item">
          <a class="nav-link active tab-link"
             id="collections-tab"
             data-toggle="tab"
             href="#collections"
             role="tab"
             aria-controls="collections"
             aria-selected="true">
            <img class="icon-svg"
                 src="{{ static_url('images/twotone-shopping_cart-24px.svg') }}"><br>
            Collections
          </a>
        </li>

        <li class="nav-item mr-auto">
          <a class="nav-link tab-link"
             id="datasets-tab"
             data-toggle="tab"
             href="#datasets"
             role="tab"
             aria-controls="datasets"
             aria-selected="false">
            <img class="icon-svg" id="datasets-tab-icon"
                 src="{{ static_url('images/twotone-archive-24px.svg') }}"><br>
            Datasets
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link tab-link"
             id="conesearch-tab"
             data-toggle="tab"
             href="#conesearch"
             role="tab"
             aria-controls="conesearch"
             aria-selected="false">
            <img class="icon-svg"
                 src="{{ static_url('images/twotone-brightness_high-24px.svg') }}"><br>
            Search near coordinates
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link tab-link"
             id="fts-tab"
             data-toggle="tab"
             href="#fts"
             role="tab"
             aria-controls="fts"
             aria-selected="false">
            <img class="icon-svg"
                 src="{{ static_url('images/twotone-language-24px.svg') }}"><br>
            Search by ID
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link tab-link"
             id="columns-tab"
             data-toggle="tab"
             href="#columns"
             role="tab"
             aria-controls="columns"
             aria-selected="true">
            <img class="icon-svg"
                 src="{{ static_url('images/twotone-view_week-24px.svg') }}"><br>
            Search DB columns
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link tab-link"
             id="xmatch-tab"
             data-toggle="tab"
             href="#xmatch"
             role="tab"
             aria-controls="xmatch"
             aria-selected="false">
            <img class="icon-svg"
                 src="{{ static_url('images/twotone-cloud_upload-24px.svg') }}"><br>
            Find cross-matches
          </a>
        </li>

        <li class="nav-item ml-auto">
          <a class="nav-link tab-link"
             id="results-tab"
             data-toggle="tab"
             href="#results"
             role="tab"
             aria-controls="results"
             aria-selected="false">
            <span id="search-notifications">
              <img id="search-notification-icon"
                   class="icon-svg"
                   src="{{ static_url('images/twotone-sync-24px.svg') }}"><br>
              Queries <span id="lcc-qstatus-run" data-nrun="0"></span> <span id="lcc-qstatus-back" data-nback="0"></span>
            </span>
          </a>
        </li>


        <!-- <li class="nav-item"> -->
          <!--   <a class="nav-link tab-link" -->
          <!--      id="sql-tab" -->
          <!--      data-toggle="tab" -->
          <!--      href="#sql" -->
          <!--      role="tab" -->
          <!--      aria-controls="sql" -->
          <!--      aria-selected="false"> -->
            <!--     <img class="icon-svg"
                     src="{{ static_url('images/twotone-search-24px.svg') }}"><br> -->
            <!--     Run an SQL query -->
            <!--   </a> -->
          <!-- </li> -->

      </ul>


      <div class="tab-content" id="myTabContent">


        <!-- COLLECTION DISPLAY PANEL -->
        <div class="tab-pane show active"
             id="collections" role="tabpanel" aria-labelledby="collections-tab">

          <div class="row mt-2">
            <div class="col-12">

              <h3>Available light curve collections</h3>

              <table id="lcc-collections-table" class="table table-sm">

                <thead class="bg-light">
                  <tr>
                    <th scope="col" width="80">Name</th>
                    <th scope="col" width="100">Description</th>
                    <th scope="col" width="100">Coordinates<br>(&alpha;, &delta;) [decimal deg]</th>
                    <th scope="col" width="250">Columns<br>
                      (<span class="kdtree-col">indexed columns</span>,
                      <span class="fts-col" data-toggle="tooltip"
                            title="full text search is available for these columns">FTS indexed columns</span>)

                    </th>
                  </tr>
                </thead>

                <tbody id="lcc-collection-tablerows">

                </tbody>

              </table>

            </div>
          </div>

        </div>


        <!-- DATASET DISPLAY PANEL -->
        <div class="tab-pane"
             id="datasets" role="tabpanel" aria-labelledby="datasets-tab">

          <div class="row mt-2">
            <div class="col-12">

              <h3>Datasets from recent search queries</h3>

              <p>The table below lists the 25 most recent public
              datasets generated on the LCC server. See <a href="/datasets">all
              available datasets</a> for a full list.</p>

              <table id="lcc-datasets-table" class="table table-hover table-sm">

                <thead class="bg-light">
                  <tr>
                    <th scope="col" width="100">Set ID</th>
                    <th scope="col" width="80">Objects</th>
                    <th scope="col" width="200">Query</th>
                    <th scope="col" width="150">Products</th>
                    <th scope="col" width="150">Last updated</th>
                  </tr>
                </thead>

                <tbody id="lcc-datasets-tablerows">

                </tbody>

              </table>

            </div>
          </div>

        </div>


        <!-- CONE SEARCH QUERY PANEL -->
        <div class="tab-pane"
             id="conesearch" role="tabpanel" aria-labelledby="conesearch-tab">

          <div class="row mt-2">
            <div class="col-12">
              <h3>Run a cone-search query</h3>
            </div>
          </div>

          <!-- main search controls -->
          <div class="row mt-4">

            <div class="col-3">

              <div class="row">
                <div class="col-12">

                  <h4>Use these collections</h4>

                  <select class="custom-select lcc-collection-select"
                          id="conesearch-collection-select" multiple size="4">

                    <option value="all" selected>All collections</option>

                  </select>
                  <small class="form-text text-muted">Select multiple collections by holding the <kbd>Ctrl/Cmd</kbd> key when clicking.</small>

                </div>
              </div>

              <div class="row mt-4">
                <div class="col-12">

                  <h4>Retrieve these columns</h4>

                  <select class="custom-select lcc-column-select"
                          id="conesearch-column-select" multiple size="18">

                  </select>
                  <small class="form-text text-muted">Select multiple columns by holding the <kbd>Ctrl/Cmd</kbd> key when clicking. <code>objectid</code>, <code>ra</code>, <code>decl</code>, <code>lcfname</code> are always returned even if not selected.</small>

                </div>
              </div>

            </div>

            <div class="col-4">
              <h4>Apply extra filter conditions</h4>

              <div class="row">
                <div class="col-12">

                  <div class="form-group">
                    <label for="conesearch-filtercolumn-select">Column to filter on</label>
                    <select class="custom-select lcc-filtercolumn-select" id="conesearch-filtercolumn-select">
                    </select>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-7">
                  <div class="form-group">
                    <label for="conesearch-filtercondition-select">Condition to apply</label>
                    <select class="custom-select lcc-filtercondition-select" id="conesearch-filtercondition-select">
                      <option value="lt" selected>less than</value>
                      <option value="gt">greater than</value>
                      <option value="le">less than or equal to</value>
                      <option value="ge">greater than or equal to</value>
                      <option value="eq">equal to</value>
                      <option value="ne">not equal to</value>
                      <option value="ct">contains text</value>
                    </select>
                  </div>
                </div>

                <div class="col-5">
                  <div class="form-group">
                    <label for="conesearch-filtertarget">Use this value</label>
                    <input type="text" class="form-control lcc-filtertarget" id="conesearch-filtertarget">
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-12">
                  <button class="btn btn-secondary lcc-filter-add" type="submit" data-searchtype="conesearch"
                          id="conesearch-filter-add">Add this filter</button>
                </div>
              </div>

              <div class="row top-margin-row">
                <div class="col-12 lcc-filterbucket" id="conesearch-filterbucket">
                </div>
              </div>

            </div>

            <div class="col-5">

              <div class="row">
                <div class="col-12">

                  <h4>Search parameters</h4>

                  <form class="form" id="conesearch-form"
                        action="/api/conesearch" method="post">
                    {% module xsrf_form_html() %}
                    <div class="row">
                      <div class="col-12">

                        <input class="form-control" id="conesearch-query"
                               name="conesearch-query"
                               type="search"
                               placeholder="[right ascension] [declination] [search radius (arcmin)]"
                               aria-label="Search">
                      </div>
                    </div>

                    <div class="row mt-2">
                      <div class="col-12">

                        <p>Use J2000 equatorial coordinates in either decimal or
                          sexagesimal format and an optional search radius in
                          decimal arcminutes. The maximum search radius is 60
                          arcminutes = 1 degree. If a search radius isn't
                          specified, 5.0 arcminutes will be used by default.</p>

                        <dl>
                          <dt>Decimal coordinates</dt>

                          <dd><code>[DD]D.ddd... [+-][D]D.ddd... DD.dd...<br>
                              example: 289.0 45.0 10.0</code></dd>

                          <dt>Sexagesimal coordinates</dt>

                          <dd><code>HH:MM:SS.sss... [+-]DD:MM:SS.sss... DD.dd...<br>
                              HH MM SS.sss... [+-]DD MM SS.sss... DD.dd...<br>
                              HH:MM:SS [+-]DD:MM:SS DD.dd...<br>
                              HH MM SS [+-]DD MM SS DD.dd...<br>
                              example: 19 25 27.9129 +42 47 03.693 15.0</code></dd>
                        </dl>

                      </div>
                    </div>

                    <div class="row mt-4">
                      <div class="col-12">

                        <div class="form-group">
                          <div class="form-check">
                            <input class="form-check-input lcc-result-ispublic" type="checkbox" id="conesearch-ispublic" checked>
                            <label class="form-check-label" for="conesearch-ispublic">
                              Make dataset from query result <a href="#" class="lcc-datasets-tabopen">public</a>
                            </label>
                          </div>
                        </div>

                      </div>
                    </div>

                    <div class="row">
                      <div class="col-12">
                        <button class="btn btn-primary" type="submit" class="lcc-query-submit" id="conesearch-submit">Search</button>
                      </div>
                    </div>

                  </form>

                </div>
              </div>

            </div>

            <!-- end of main search controls -->
          </div>

        </div>


        <!-- FTS QUERY PANEL -->
        <div class="tab-pane"
             id="fts" role="tabpanel" aria-labelledby="fts-tab">

          <div class="row mt-2">
            <div class="col-12">
              <h3>Search for object names, descriptions, or tags</h3>
            </div>
          </div>

          <!-- main search controls -->
          <div class="row mt-4">

            <div class="col-3">

              <div class="row">
                <div class="col-12">

                  <h4>Use these collections</h4>

                  <select class="custom-select lcc-collection-select"
                          id="ftsquery-collection-select" multiple size="4">

                    <option value="all" selected>All collections</option>

                  </select>
                  <small class="form-text text-muted">Select multiple collections by holding the <kbd>Ctrl/Cmd</kbd> key when clicking.</small>

                </div>
              </div>

              <div class="row mt-4">
                <div class="col-12">

                  <h4>Retrieve these columns</h4>

                  <select class="custom-select lcc-column-select"
                          id="ftsquery-column-select" multiple size="18">

                  </select>
                  <small class="form-text text-muted">Select multiple columns by holding the <kbd>Ctrl/Cmd</kbd> key when clicking. <code>objectid</code>, <code>ra</code>, <code>decl</code>, <code>lcfname</code> are always returned even if not selected.</small>

                </div>
              </div>

            </div>

            <div class="col-4">
              <h4>Apply extra filter conditions</h4>

              <div class="row">
                <div class="col-12">

                  <div class="form-group">
                    <label for="ftsquery-filtercolumn-select">Column to filter on</label>
                    <select class="custom-select lcc-filtercolumn-select" id="ftsquery-filtercolumn-select">
                    </select>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-7">
                  <div class="form-group">
                    <label for="ftsquery-filtercondition-select">Condition to apply</label>
                    <select class="custom-select lcc-filtercondition-select" id="ftsquery-filtercondition-select">
                      <option value="lt" selected>less than</value>
                      <option value="gt">greater than</value>
                      <option value="le">less than or equal to</value>
                      <option value="ge">greater than or equal to</value>
                      <option value="eq">equal to</value>
                      <option value="ne">not equal to</value>
                      <option value="ct">contains text</value>
                    </select>
                  </div>
                </div>

                <div class="col-5">
                  <div class="form-group">
                    <label for="ftsquery-filtertarget">Use this value</label>
                    <input type="text" class="form-control lcc-filtertarget" id="ftsquery-filtertarget">
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-12">
                  <button class="btn btn-secondary lcc-filter-add" type="submit" data-searchtype="ftsquery"
                          id="ftsquery-filter-add">Add this filter</button>
                </div>
              </div>

              <div class="row top-margin-row">
                <div class="col-12 lcc-filterbucket" id="ftsquery-filterbucket">
                </div>
              </div>

            </div>

            <div class="col-5">

              <div class="row">
                <div class="col-12">

                  <h4>Search parameters</h4>

                  <form class="form" id="ftsquery-form"
                        action="/api/ftsquery" method="post">
                    {% module xsrf_form_html() %}
                    <div class="row">
                      <div class="col-12">

                        <input class="form-control" id="ftsquery-query"
                               name="ftsquery-query"
                               type="search"
                               placeholder="object name, comment text, tags, etc."
                               aria-label="Search">
                      </div>
                    </div>

                    <div class="row mt-2">
                      <div class="col-12">

                        <p>Type in the text you want to find in the
                          full-text-search indexed columns of the database.
                          This is especially useful for object names, variable
                          type tags, object classification tags, and external
                          object names (e.g. from SIMBAD if they're available).</p>

                          <p>Matching text may be found in any of these
                          FTS-indexed columns:
                          <small><code><span id="ftsquery-column-list"></span></code></small>.</p>

                      </div>
                    </div>

                    <div class="row mt-4">
                      <div class="col-12">

                        <div class="form-group">
                          <div class="form-check">
                            <input class="form-check-input lcc-result-ispublic" type="checkbox" id="ftsquery-ispublic" checked>
                            <label class="form-check-label" for="ftsquery-ispublic">
                              Make dataset from query result <a href="#" class="lcc-datasets-tabopen">public</a>
                            </label>
                          </div>
                        </div>

                      </div>
                    </div>

                    <div class="row">
                      <div class="col-12">
                        <button class="btn btn-primary" type="submit" class="lcc-query-submit" id="ftsquery-submit">Search</button>
                      </div>
                    </div>

                  </form>

                </div>
              </div>

            </div>

            <!-- end of main search controls -->
          </div>

        </div>


        <!-- COLUMN SEARCH QUERY PANEL -->
        <div class="tab-pane"
             id="columns" role="tabpanel" aria-labelledby="columns-tab">

          <div class="row mt-2">
            <div class="col-12">
              <h3>Build a query using database columns and filter conditions</h3>
            </div>
          </div>

          <!-- main search controls -->
          <div class="row mt-4">

            <div class="col-3">

              <div class="row">
                <div class="col-12">

                  <h4>Use these collections</h4>

                  <select class="custom-select lcc-collection-select"
                          id="columnsearch-collection-select" multiple size="4">

                    <option value="all" selected>All collections</option>

                  </select>
                  <small class="form-text text-muted">Select multiple collections by holding the <kbd>Ctrl/Cmd</kbd> key when clicking.</small>

                </div>
              </div>

              <div class="row mt-4">
                <div class="col-12">

                  <h4>Retrieve these columns</h4>

                  <select class="custom-select lcc-column-select"
                          id="columnsearch-column-select" multiple size="18">

                  </select>
                  <small class="form-text text-muted">Select multiple columns by holding the <kbd>Ctrl/Cmd</kbd> key when clicking. <code>objectid</code>, <code>ra</code>, <code>decl</code>, <code>lcfname</code> are always returned even if not selected.</small>

                </div>
              </div>

            </div>

            <div class="col-4">
              <h4>Apply conditions on columns</h4>

              <div class="row">
                <div class="col-12">

                  <div class="form-group">
                    <label for="columnsearch-filtercolumn-select">Column to filter on</label>
                    <select class="custom-select lcc-filtercolumn-select" id="columnsearch-filtercolumn-select">
                    </select>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-7">
                  <div class="form-group">
                    <label for="columnsearch-filtercondition-select">Condition to apply</label>
                    <select class="custom-select lcc-filtercondition-select" id="columnsearch-filtercondition-select">
                      <option value="lt" selected>less than</value>
                      <option value="gt">greater than</value>
                      <option value="le">less than or equal to</value>
                      <option value="ge">greater than or equal to</value>
                      <option value="eq">equal to</value>
                      <option value="ne">not equal to</value>
                      <option value="ct">contains text</value>
                    </select>
                  </div>
                </div>

                <div class="col-5">
                  <div class="form-group">
                    <label for="columnsearch-filtertarget">Use this value</label>
                    <input type="text" class="form-control lcc-filtertarget" id="columnsearch-filtertarget">
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-12">
                  <button class="btn btn-secondary lcc-filter-add" type="submit" data-searchtype="columnsearch"
                          id="columnsearch-filter-add">Add this filter</button>
                </div>
              </div>

              <div class="row top-margin-row">
                <div class="col-12 lcc-filterbucket" id="columnsearch-filterbucket">
                </div>
              </div>

            </div>

            <div class="col-5">

              <div class="row">
                <div class="col-12">

                  <h4>Search parameters</h4>

                  <form class="form" id="columnsearch-form"
                        action="/api/columnsearch" method="post">
                    {% module xsrf_form_html() %}

                    <div class="row mt-2">
                      <div class="col-12">

                        <p>This form lets you build a query based on the available
                          columns in the database and the filters you choose.
                          Filters may be chained together using AND/OR logic.
                          Queries will be more efficient on indexed database columns.</p>

                        <p>For the available light curve collections, the
                          following columns have been indexed for fast look-up:
                          <small><code><span id="columnsearch-indexed-columnlist"></span></code></small>.</p>


                      </div>
                    </div>

                    <div class="row mt-4">
                      <div class="col-12">

                        <div class="form-group">
                          <div class="form-check">
                            <input class="form-check-input lcc-result-ispublic" type="checkbox" id="columnsearch-ispublic" checked>
                            <label class="form-check-label" for="columnsearch-ispublic">
                              Make dataset from query result <a href="#" class="lcc-datasets-tabopen">public</a>
                            </label>
                          </div>
                        </div>

                      </div>
                    </div>

                    <div class="row">
                      <div class="col-12">
                        <button class="btn btn-primary" type="submit" class="lcc-query-submit" id="columnsearch-submit">Search</button>
                      </div>
                    </div>

                  </form>

                </div>
              </div>

            </div>

            <!-- end of main search controls -->
          </div>

        </div>


        <!-- XMATCH QUERY PANEL -->
        <div class="tab-pane"
             id="xmatch" role="tabpanel" aria-labelledby="xmatch-tab">

          <div class="row mt-2">
            <div class="col-12">
              <h3>Upload and cross-match catalogs against LC collections</h3>
            </div>
          </div>

          <!-- main search controls -->
          <div class="row mt-4">

            <div class="col-3">

              <div class="row">
                <div class="col-12">

                  <h4>Use these collections</h4>

                  <select class="custom-select lcc-collection-select"
                          id="xmatchquery-collection-select" multiple size="4">

                    <option value="all" selected>All collections</option>

                  </select>
                  <small class="form-text text-muted">Select multiple collections by holding the <kbd>Ctrl/Cmd</kbd> key when clicking.</small>

                </div>
              </div>

              <div class="row mt-4">
                <div class="col-12">

                  <h4>Retrieve these columns</h4>

                  <select class="custom-select lcc-column-select"
                          id="xmatchquery-column-select" multiple size="18">

                  </select>
                  <small class="form-text text-muted">Select multiple columns by holding the <kbd>Ctrl/Cmd</kbd> key when clicking. <code>objectid</code>, <code>ra</code>, <code>decl</code>, <code>lcfname</code> are always returned even if not selected.</small>

                </div>
              </div>

            </div>

            <div class="col-4">
              <h4>Apply extra filter conditions</h4>

              <div class="row">
                <div class="col-12">

                  <div class="form-group">
                    <label for="xmatchquery-filtercolumn-select">Column to filter on</label>
                    <select class="custom-select lcc-filtercolumn-select" id="xmatchquery-filtercolumn-select">
                    </select>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-7">
                  <div class="form-group">
                    <label for="xmatchquery-filtercondition-select">Condition to apply</label>
                    <select class="custom-select lcc-filtercondition-select" id="xmatchquery-filtercondition-select">
                      <option value="lt" selected>less than</value>
                      <option value="gt">greater than</value>
                      <option value="le">less than or equal to</value>
                      <option value="ge">greater than or equal to</value>
                      <option value="eq">equal to</value>
                      <option value="ne">not equal to</value>
                      <option value="ct">contains text</value>
                    </select>
                  </div>
                </div>

                <div class="col-5">
                  <div class="form-group">
                    <label for="xmatchquery-filtertarget">Use this value</label>
                    <input type="text" class="form-control lcc-filtertarget" id="xmatchquery-filtertarget">
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-12">
                  <button class="btn btn-secondary lcc-filter-add" type="submit" data-searchtype="xmatchquery"
                          id="xmatchquery-filter-add">Add this filter</button>
                </div>
              </div>

              <div class="row top-margin-row">
                <div class="col-12 lcc-filterbucket" id="xmatchquery-filterbucket">
                </div>
              </div>

            </div>

            <div class="col-5">

              <div class="row">
                <div class="col-12">

                  <h4>Search parameters</h4>

                  <form class="form" id="xmatchquery-form"
                        action="/api/xmatchquery" method="post">
                    {% module xsrf_form_html() %}

                    <div class="row">
                      <div class="col-12">

                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="xmatchquery-match-objects"
                                 name="xmatchquery-matchtype" value="objectid"
                                 class="custom-control-input lcc-xmatchquery-matchtype">
                          <label class="custom-control-label"
                                 for="xmatchquery-match-objects">Match on object ID</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="xmatchquery-match-coords"
                                 value="coords" name="xmatchquery-matchtype"
                                 class="custom-control-input" checked>
                          <label class="custom-control-label"
                                 for="xmatchquery-match-coords">Match on object coordinates</label>
                        </div>

                      </div>
                    </div>

                    <div class="row mt-1">
                      <div class="col-12">

                        <div class="form-group">
                          <label for="xmatchquery-query">Enter <code>[objectID], [RA], [Dec]</code>
                          rows separated by lines.</label>
                          <textarea class="form-control" id="xmatchquery-query" rows="10"></textarea>
                        </div>

                      </div>
                    </div>

                    <div class="row">
                      <div class="col-12">

                        <div class="form-group form-inline">
                          <label for="xmatchquery-matchradius">Match radius [arcsec]</label>
                          <input type="text" id="xmatchquery-matchradius"
                                 value="3.0" class="form-control mx-sm-3">
                          <small id="xmatchquery-matchradius-helpline"
                                 class="text-muted">
                            Maximum 30 arcsec.
                          </small>
                        </div>

                      </div>
                    </div>

                    <div class="row mt-1">
                      <div class="col-12">
                        <p>The maximum number of object lines allowed is 1000.
                          You can match on the object IDs themselves; this will
                          run a full-text-query on the appropriate columns in
                          the database. Alternatively, you can run spatial
                          cross-matching with a given match radius.</p>

                        </div>
                    </div>


                    <div class="row mt-4">
                      <div class="col-12">

                        <div class="form-group">
                          <div class="form-check">
                            <input class="form-check-input lcc-result-ispublic" type="checkbox" id="xmatchquery-ispublic" checked>
                            <label class="form-check-label" for="xmatchquery-ispublic">
                              Make dataset from query result <a href="#" class="lcc-datasets-tabopen">public</a>
                            </label>
                          </div>
                        </div>

                      </div>
                    </div>

                    <div class="row">
                      <div class="col-12">
                        <button class="btn btn-primary" type="submit" class="lcc-query-submit" id="xmatchquery-submit">Search</button>
                      </div>
                    </div>

                  </form>

                </div>
              </div>

            </div>

            <!-- end of main search controls -->
          </div>

        </div>

        <!-- <div class="tab-pane" -->
        <!--      id="sql" role="tabpanel" aria-labelledby="sql-tab"> -->

          <!--   <div class="row mt-2"> -->
            <!--     <div class="col-12"> -->
              <!--       sql -->
              <!--     </div> -->
            <!--   </div> -->

          <!-- </div> -->

        <div class="tab-pane"
             id="results" role="tabpanel" aria-labelledby="results-tab">

          <div class="row mt-2">
            <div class="col-12">
              <h3>View status and results of running or completed queries</h3>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-12">

              <table class="table table-sm">
                <thead>
                  <tr>
                    <th width="200">time</th>
                    <th width="100">query ID</th>
                    <th width="80">status</th>
                    <th width="300">message</th>
                  </tr>
                </thead>

                <tbody id="query-status-stream">

                </tbody>
              </table>


            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>

{% end %}


{% block pagejs_modules %}

<!-- code mirror js -->
<script src="{{ static_url('js/codemirror.min.js') }}"></script>

{% end %}


{% block pagejs %}

$(document).ready(function() {

// get the light curve collections
lcc_ui.get_lc_collections();

// get the most recent 25 datasets
lcc_ui.get_recent_datasets(25);

// UI action setup
lcc_ui.action_setup();



});

{% end %}
