{% extends 'base.html' %}

{% block pagecss %}

<!-- Codemirror CSS -->
<!-- <link rel="stylesheet" href="{{ static_url('css/codemirror.css') }}">
-->
{% end %}


{% block pagecontent %}

<!-- this is where all the alerts go -->
<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-12">
      <div id="alert-box">

      </div>
    </div>
  </div>
</div>

<!-- the main search form -->
<div class="container-fluid">
  <div class="row mt-2 search-controls">

    <div class="col-12">

      <ul class="nav nav-tabs" id="myTab" role="tablist">

        <li class="nav-item mr-auto">
          <a class="nav-link tab-link"
             id="collections-tab"
             data-toggle="tab"
             href="#collections"
             role="tab"
             aria-controls="collections"
             aria-selected="true">
            <img class="icon-svg"
                 src="{{ static_url('images/twotone-shopping_cart-24px.svg') }}"><br>
            Collections
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link active tab-link"
             id="conesearch-tab"
             data-toggle="tab"
             href="#conesearch"
             role="tab"
             aria-controls="conesearch"
             aria-selected="false">
            <img class="icon-svg"
                 src="{{ static_url('images/twotone-language-24px.svg') }}"><br>
            Search the sky
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link tab-link"
             id="fts-tab"
             data-toggle="tab"
             href="#fts"
             role="tab"
             aria-controls="fts"
             aria-selected="false">
            <img class="icon-svg"
                 src="{{ static_url('images/twotone-brightness_high-24px.svg') }}"><br>
            Find in text
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link tab-link"
             id="columns-tab"
             data-toggle="tab"
             href="#columns"
             role="tab"
             aria-controls="columns"
             aria-selected="true">
            <img class="icon-svg"
                 src="{{ static_url('images/twotone-view_week-24px.svg') }}"><br>
            Build a query
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link tab-link"
             id="xmatch-tab"
             data-toggle="tab"
             href="#xmatch"
             role="tab"
             aria-controls="xmatch"
             aria-selected="false">
            <img class="icon-svg"
                 src="{{ static_url('images/twotone-cloud_upload-24px.svg') }}"><br>
            Find cross-matches
          </a>
        </li>

        <li class="nav-item ml-auto">
          <a class="nav-link tab-link"
             id="datasets-tab"
             data-toggle="tab"
             href="#datasets"
             role="tab"
             aria-controls="datasets"
             aria-selected="false">
            <img class="icon-svg" id="datasets-tab-icon"
                 src="{{ static_url('images/twotone-archive-24px.svg') }}"><br>
            Datasets
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link tab-link"
             id="results-tab"
             data-toggle="tab"
             href="#results"
             role="tab"
             aria-controls="results"
             aria-selected="false">
            <span id="search-notifications">
              <img id="search-notification-icon"
                   class="icon-svg"
                   src="{{ static_url('images/twotone-sync-24px.svg') }}"><br>
              Queries <span id="lcc-qstatus-run" data-nrun="0"></span> <span id="lcc-qstatus-back" data-nback="0"></span>
            </span>
          </a>
        </li>


        <!-- <li class="nav-item"> -->
        <!--   <a class="nav-link tab-link" -->
        <!--      id="sql-tab" -->
        <!--      data-toggle="tab" -->
        <!--      href="#sql" -->
        <!--      role="tab" -->
        <!--      aria-controls="sql" -->
        <!--      aria-selected="false"> -->
        <!--     <img class="icon-svg"
             src="{{ static_url('images/twotone-search-24px.svg') }}"><br> -->
        <!--     Run an SQL query -->
        <!--   </a> -->
        <!-- </li> -->

      </ul>


      <div class="tab-content" id="myTabContent">


        <!-- COLLECTIONS LIST TAB -->
        <div class="tab-pane"
             id="collections" role="tabpanel" aria-labelledby="collections-tab">

          <div class="row mt-2">
            <div class="col-12">

              <h3>Available light curve collections</h3>

              <table id="lcc-collections-table" class="table table-sm">

                <thead class="bg-light">
                  <tr>
                    <th scope="col" width="80">Name</th>
                    <th scope="col" width="150">Description</th>
                    <th scope="col" width="100">Coordinates<br>(&alpha;, &delta;) [decimal deg]</th>
                    <th scope="col" width="200">Columns
                      (<span class="kdtree-col" data-toggle="tooltip"
                             title="full text search is available for these columns">FTS indexed columns</span>)

                    </th>
                  </tr>
                </thead>

                <tbody id="lcc-collection-tablerows">

                </tbody>

              </table>

            </div>
          </div>

        </div>


        <!-- CONE SEARCH QUERY TAB -->
        <div class="tab-pane show active"
             id="conesearch" role="tabpanel" aria-labelledby="conesearch-tab">

          <!-- main search controls -->
          <div class="row mt-2">

            <div class="col">

              <div class="row">
                <div class="col-12">

                  <h3>Search in collections</h3>

                  <select class="custom-select lcc-collection-select"
                          id="conesearch-collection-select" multiple size="5">

                    <option value="all" selected>All collections</option>

                  </select>
                  <small class="form-text text-muted">Select multiple collections
                    by holding the <kbd>Ctrl/Cmd</kbd> key when clicking.</small>

                </div>
              </div>

              <div class="row mt-4">
                <div class="col-12">

                  <h4>Retrieve these columns</h4>

                  <select class="custom-select lcc-column-select"
                          id="conesearch-column-select" multiple size="11">

                  </select>
                  <small class="form-text text-muted">Select multiple columns by holding
                    the <kbd>Ctrl/Cmd</kbd> key when clicking. <code>objectid</code>,
                    <code>ra</code>, <code>decl</code>, <code>lcfname</code>, and columns with
                    active filter/sort conditions are always retrieved.</small>
                </div>
              </div>

              <div class="row mt-4">
                <div class="col-12">

                  <!-- <h4>Fetch object information</h4>

                       <select class="custom-select lcc-objectinfo-select"
                       id="conesearch-objectinfo-select" multiple size="5">
                       <option value="objectlc" selected>object light curve plot</option>
                       <option value="dss" selected>DSS2 RED finder chart</option>
                       <option value="phasedlc" >best period phased LC plot</option>
                       <option value="neighbors" >closest neighbors in collection</option>
                       <option value="varfeatures" >variability features</option>
                       </select>
                       <small class="form-text text-muted">Select multiple columns by holding the
                       <kbd>Ctrl/Cmd</kbd> key when clicking.</small> -->

                </div>
              </div>

            </div>

            <div class="col-5">

              <div class="row" >
                <div class="col-12" >
                  <h3>Run a cone-search query</h3>

                  <form class="form" id="conesearch-form"
                        action="/api/conesearch" method="post">
                    {% module xsrf_form_html() %}
                    <div class="row">
                      <div class="col-12">

                        <div class="input-group" >
                          <input class="form-control" id="conesearch-query"
                                 name="conesearch-query" autocomplete="on"
                                 type="search" autofocus=""
                                 placeholder="[right ascension] [declination] [search radius (arcmin)]"
                                 aria-label="Search">
                          <div class="input-group-append" >
                            <button class="btn btn-primary"
                                    type="submit" id="conesearch-submit">Search</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-row mt-2 align-items-center justify-content-start">
                      <div class="col-12">
                        <div class="form-check">
                          <input class="form-check-input lcc-result-ispublic"
                                 type="checkbox" id="conesearch-ispublic" checked="">
                          <label class="form-check-label" for="conesearch-ispublic">
                            Make dataset from query result publicly visible
                          </label>
                        </div>
                      </div>
                    </div>

                  </form>

                </div>
              </div>

              <div class="row mt-4" >
                <div class="col-12" >
                  <h4>Add column filters</h4>
                  <div class="form-inline">

                    <select class="custom-select lcc-filtercolumn-select w-25 flex-grow-1"
                            id="conesearch-filtercolumn-select">
                    </select>

                    <select class="custom-select lcc-filtercondition-select flex-shrink-1 ml-2"
                            id="conesearch-filtercondition-select">
                      <option value="lt" selected>&lt;</option>
                      <option value="gt">&gt;</option>
                      <option value="le">&le;</option>
                      <option value="ge">&ge;</option>
                      <option value="eq">=</option>
                      <option value="ne">&ne;</option>
                      <option value="ct">contains</option>
                    </select>

                    <input type="text" class="form-control lcc-filtertarget w-25 ml-2"
                           data-searchtype="conesearch" placeholder="value"
                           id="conesearch-filtertarget">

                    <button class="btn btn-secondary lcc-filter-add flex-shrink-1 ml-2 p-0"
                            type="button"
                            data-searchtype="conesearch"
                            id="conesearch-filter-add">
                      <img class="icon-svg"
                           alt="add this column filter"
                           src="{{ static_url('images/twotone-add-reverse-24px.svg') }}">
                    </button>

                  </div>

                  <div class="row mt-2">
                    <div class="col-12">

                      <div class="card px-2 py-2" >
                        <h6 class="text-muted">Active column filters</h6>
                        <div class="lcc-filterbucket" id="conesearch-filterbucket">

                        </div>
                      </div>

                    </div>
                  </div>

                </div>
              </div>

            </div>

            <div class="col-4">

              <div class="row">
                <div class="col-12">

                  <h3>Search help</h3>

                  <p>Use J2000 equatorial coordinates in either decimal or
                    sexagesimal format and an optional search radius in
                    arcminutes. The maximum search radius is 60
                    arcmin = 1.0 deg. If a search radius isn't
                    specified, 5.0 arcmin will be used by default.</p>

                  <p>Results are returned in order of increasing
                    distance (in arcsec) from the center coordinates.</p>

                  <dl>
                    <dt>Decimal coordinates</dt>

                    <dd><code>[DD]D.ddd... [+-][D]D.ddd... DD.dd...<br>
                              example: 289.0 45.0 10.0</code></dd>

                    <dt>Sexagesimal coordinates</dt>

                    <dd><code>HH:MM:SS.sss... [+-]DD:MM:SS.sss... DD.dd...<br>
                              HH MM SS.sss... [+-]DD MM SS.sss... DD.dd...<br>
                              example: 19 25 27.9129 +42 47 03.693 15.0</code></dd>
                  </dl>

                </div>
              </div>

            </div>

            <!-- end of main search controls -->
          </div>

        </div>


        <!-- FTS QUERY TAB -->
        <div class="tab-pane"
             id="fts" role="tabpanel" aria-labelledby="fts-tab">

          <!-- main search controls -->
          <div class="row mt-2">

            <div class="col" >

              <div class="row">
                <div class="col-12">

                  <h3>Search in collections</h3>

                  <select class="custom-select lcc-collection-select"
                          id="ftsquery-collection-select" multiple size="5">

                    <option value="all" selected>All collections</option>

                  </select>
                  <small class="form-text text-muted">Select multiple collections
                    by holding the <kbd>Ctrl/Cmd</kbd> key when clicking.</small>

                </div>
              </div>

              <div class="row mt-4">
                <div class="col-12">

                  <h4>Retrieve these columns</h4>

                  <select class="custom-select lcc-column-select"
                          id="ftsquery-column-select" multiple size="11">

                  </select>
                  <small class="form-text text-muted">Select multiple columns by holding
                    the <kbd>Ctrl/Cmd</kbd> key when clicking. <code>objectid</code>,
                    <code>ra</code>, <code>decl</code>, <code>lcfname</code>, and columns with
                    active filter/sort conditions are always retrieved.</small>
                </div>
              </div>

              <div class="row mt-4">
                <div class="col-12">

                  <!-- <h4>Fetch object information</h4>

                       <select class="custom-select lcc-objectinfo-select"
                       id="ftsquery-objectinfo-select" multiple size="5">
                       <option value="objectlc" selected>object light curve plot</option>
                       <option value="dss" selected>DSS2 RED finder chart</option>
                       <option value="phasedlc" >best period phased LC plot</option>
                       <option value="neighbors" >closest neighbors in collection</option>
                       <option value="varfeatures" >variability features</option>
                       </select>
                       <small class="form-text text-muted">Select multiple columns by holding the
                       <kbd>Ctrl/Cmd</kbd> key when clicking.</small>
                  -->
                </div>
              </div>

            </div>

            <div class="col-5" >

              <div class="row" >
                <div class="col-12" >
                  <h3>Run a full-text search query</h3>

                  <form class="form" id="ftsquery-form"
                        action="/api/ftsquery" method="post">
                    {% module xsrf_form_html() %}
                    <div class="row">
                      <div class="col-12">

                        <div class="input-group" >
                          <input class="form-control" id="ftsquery-query"
                                 name="ftsquery-query" autocomplete="on"
                                 type="search" autofocus=""
                                 placeholder="object name, 2MASS ID, SIMBAD ID, description, tags, etc."
                                 aria-label="Search">
                          <div class="input-group-append" >
                            <button class="btn btn-primary"
                                    type="submit" id="ftsquery-submit">Search</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-row mt-2 align-items-center justify-content-start">
                      <div class="col-12">
                        <div class="form-check">
                          <input class="form-check-input lcc-result-ispublic"
                                 type="checkbox" id="ftsquery-ispublic" checked="">
                          <label class="form-check-label" for="ftsquery-ispublic">
                            Make dataset from query result publicly visible
                          </label>
                        </div>
                      </div>
                    </div>

                  </form>

                </div>
              </div>

              <div class="row mt-4" >
                <div class="col-12" >
                  <h4>Add column filters</h4>
                  <div class="form-inline">

                    <select class="custom-select lcc-filtercolumn-select w-25 flex-grow-1"
                            id="ftsquery-filtercolumn-select">
                    </select>

                    <select class="custom-select lcc-filtercondition-select flex-shrink-1 ml-2"
                            id="ftsquery-filtercondition-select">
                      <option value="lt" selected>&lt;</option>
                      <option value="gt">&gt;</option>
                      <option value="le">&le;</option>
                      <option value="ge">&ge;</option>
                      <option value="eq">=</option>
                      <option value="ne">&ne;</option>
                      <option value="ct">contains</option>
                    </select>

                    <input type="text" class="form-control lcc-filtertarget w-25 ml-2"
                           data-searchtype="ftsquery" placeholder="value"
                           id="ftsquery-filtertarget">

                    <button class="btn btn-secondary lcc-filter-add flex-shrink-1 ml-2 p-0"
                            type="button"
                            data-searchtype="ftsquery"
                            id="ftsquery-filter-add">
                      <img class="icon-svg"
                           alt="add this column filter"
                           src="{{ static_url('images/twotone-add-reverse-24px.svg') }}">
                    </button>

                  </div>

                  <div class="row mt-2">
                    <div class="col-12">

                      <div class="card px-2 py-2" >
                        <h6 class="text-muted">Active column filters</h6>
                        <div class="lcc-filterbucket" id="ftsquery-filterbucket">

                        </div>
                      </div>

                    </div>
                  </div>

                </div>
              </div>

            </div>

            <div class="col-4" >
              <h3>Search help</h3>

              <p>Full text search is useful for object names,
                variable type tags, object classification tags,
                and external object names (e.g. from SIMBAD if they're
                available). Queries use the
                <a href="https://www.sqlite.org/fts5.html#full_text_query_syntax">
                  SQLite FTS5 query syntax</a>. For an exact match
                against an object name, use <code>&quot;object name&quot;</code>.
                Matching text may be found in any of the
                FTS-indexed columns below. They will always be
                returned with query results. </p>

              <p><code><span id="ftsquery-column-list"></span></code></p>

              <p>Results are returned in order of
                <a href="https://en.wikipedia.org/wiki/Okapi_BM25"> relevance</a>.</p>

              <dl>
                <dt>Examples:</dt>
                <dd>
                  objects in ASAS and NSVS: <code>ASAS AND NSVS</code><br>
                  all ASAS objects at RA 19h: <code>"ASAS J19"*</code><br>
                  RR Lyr color EBs: <code>simbad_best_objtype:EB color_classes:RR*</code>
                </dd>
              </dl>

            </div>

            <!-- end of main search controls -->
          </div>

        </div>


        <!-- COLUMN SEARCH QUERY TAB -->
        <div class="tab-pane"
             id="columns" role="tabpanel" aria-labelledby="columns-tab">

          <!-- main search controls -->
          <div class="row mt-2">

            <div class="col">

              <div class="row">
                <div class="col-12">

                  <h3>Search in collections</h3>

                  <select class="custom-select lcc-collection-select"
                          id="columnsearch-collection-select" multiple size="5">

                    <option value="all" selected>All collections</option>

                  </select>
                  <small class="form-text text-muted">Select multiple collections
                    by holding the <kbd>Ctrl/Cmd</kbd> key when clicking.</small>

                </div>
              </div>

              <div class="row mt-4">
                <div class="col-12">

                  <h4>Retrieve these columns</h4>

                  <select class="custom-select lcc-column-select"
                          id="columnsearch-column-select" multiple size="11">

                  </select>
                  <small class="form-text text-muted">Select multiple columns by holding
                    the <kbd>Ctrl/Cmd</kbd> key when clicking. <code>objectid</code>,
                    <code>ra</code>, <code>decl</code>, <code>lcfname</code>, and columns with
                    active filter/sort conditions are always retrieved.</small>
                </div>
              </div>

              <div class="row mt-4">
                <div class="col-12">

                  <!-- <h4>Fetch object information</h4>

                       <select class="custom-select lcc-objectinfo-select"
                       id="columnsearch-objectinfo-select" multiple size="5">
                       <option value="objectlc" selected>object light curve plot</option>
                       <option value="dss" selected>DSS2 RED finder chart</option>
                       <option value="phasedlc" >best period phased LC plot</option>
                       <option value="neighbors" >closest neighbors in collection</option>
                       <option value="varfeatures" >variability features</option>
                       </select>
                       <small class="form-text text-muted">Select multiple columns by holding the
                       <kbd>Ctrl/Cmd</kbd> key when clicking.</small>
                  -->
                </div>
              </div>

            </div>

            <div class="col-5">

              <div class="row" >
                <div class="col-12" >
                  <h3>Run a database column query</h3>
                </div>
              </div>

              <div class="row" >
                <div class="col-12" >
                  <h4>Add column filters and sort conditions</h4>
                  <div class="form-inline">

                    <select class="custom-select lcc-filtercolumn-select w-25 flex-grow-1"
                            id="columnsearch-filtercolumn-select">
                    </select>

                    <select class="custom-select lcc-filtercondition-select flex-shrink-1 ml-2"
                            id="columnsearch-filtercondition-select">
                      <option value="lt" selected>&lt;</option>
                      <option value="gt">&gt;</option>
                      <option value="le">&le;</option>
                      <option value="ge">&ge;</option>
                      <option value="eq">=</option>
                      <option value="ne">&ne;</option>
                      <option value="ct">contains</option>
                    </select>

                    <input type="text" class="form-control lcc-filtertarget w-25 ml-2"
                           data-searchtype="columnsearch" placeholder="value"
                           id="columnsearch-filtertarget">

                    <button class="btn btn-secondary lcc-filter-add flex-shrink-1 ml-2 p-0"
                            type="button"
                            data-searchtype="columnsearch"
                            id="columnsearch-filter-add">
                      <img class="icon-svg"
                           alt="add this column filter"
                           src="{{ static_url('images/twotone-add-reverse-24px.svg') }}">
                    </button>

                  </div>

                  <div class="row mt-2">
                    <div class="col-12">

                      <div class="card px-2 py-2" >
                        <h6 class="text-muted">Active column filters</h6>
                        <div class="lcc-filterbucket" id="columnsearch-filterbucket">

                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="row mt-2">

                    <div class="col-7">
                      <div class="form-group">
                        <label for="columnsearch-sortcolumn-select">
                          Column to sort results by
                        </label>
                        <select class="custom-select lcc-sortcolumn-select"
                                id="columnsearch-sortcolumn-select"
                                data-target="columnsearch">
                        </select>
                      </div>
                    </div>

                    <div class="col-5">
                      <div class="form-group">
                        <label for="columnsearch-sortorder-select">
                          Use sort order
                        </label>
                        <select class="custom-select lcc-sortorder-select"
                                id="columnsearch-sortorder-select"
                                data-target="columnsearch">
                          <option value="asc">ascending</option>
                          <option value="desc">descending</option>
                        </select>
                      </div>
                    </div>

                  </div>


                </div>
              </div>

              <div class="row" >
                <div class="col-12" >

                  <form id="columnsearch-form"
                        action="/api/columnsearch" method="post">
                    {% module xsrf_form_html() %}

                    <div class="form-row align-items-center justify-content-end">
                      <div class="col-sm-9">
                        <div class="form-check">
                          <input class="form-check-input lcc-result-ispublic"
                                 type="checkbox" id="columnsearch-ispublic" checked="">
                          <label class="form-check-label" for="columnsearch-ispublic">
                            Make dataset from query result publicly visible
                          </label>
                        </div>
                      </div>
                      <div class="d-flex col-sm-3">
                        <button class="btn btn-primary flex-grow-1"
                                type="submit" id="columnsearch-submit">Search</button>
                      </div>
                    </div>

                  </form>


                </div>
              </div>

            </div>

            <div class="col-4" >
              <h3>Search help</h3>

              <p>This form lets you build a query based on the available
                columns in the database and the filters you choose.
                Filters may be chained together using AND/OR logic.
                You may also choose a column to sort the
                result-set rows in a particular order. This will be
                automatically added to the requested query columns.</p>

            </div>

            <!-- end of main search controls -->
          </div>

        </div>


        <!-- XMATCH QUERY TAB -->
        <div class="tab-pane"
             id="xmatch" role="tabpanel" aria-labelledby="xmatch-tab">

          <!-- main search controls -->
          <div class="row mt-2">

            <div class="col">

              <div class="row">
                <div class="col-12">

                  <h3>Search in collections</h3>

                  <select class="custom-select lcc-collection-select"
                          id="xmatch-collection-select" multiple size="5">

                    <option value="all" selected>All collections</option>

                  </select>
                  <small class="form-text text-muted">Select multiple collections by holding
                    the <kbd>Ctrl/Cmd</kbd> key when clicking.</small>

                </div>
              </div>

              <div class="row mt-4">
                <div class="col-12">

                  <h4>Retrieve these columns</h4>

                  <select class="custom-select lcc-column-select"
                          id="xmatch-column-select" multiple size="11">

                  </select>
                  <small class="form-text text-muted">Select multiple columns by holding
                    the <kbd>Ctrl/Cmd</kbd> key when clicking. <code>objectid</code>,
                    <code>ra</code>, <code>decl</code>, <code>lcfname</code>, and columns with
                    active filter/sort conditions are always retrieved.</small>
                </div>
              </div>

              <div class="row mt-4">
                <div class="col-12">

                  <!-- <h4>Fetch object information</h4>

                       <select class="custom-select lcc-objectinfo-select"
                       id="conesearch-objectinfo-select" multiple size="5">
                       <option value="objectlc" selected>object light curve plot</option>
                       <option value="dss" selected>DSS2 RED finder chart</option>
                       <option value="phasedlc" >best period phased LC plot</option>
                       <option value="neighbors" >closest neighbors in collection</option>
                       <option value="varfeatures" >variability features</option>
                       </select>
                       <small class="form-text text-muted">Select multiple columns by holding the
                       <kbd>Ctrl/Cmd</kbd> key when clicking.</small>
                  -->
                </div>
              </div>

            </div>

            <div class="col-5" >

              <h3>Cross-match object lists</h3>

              <form class="form" id="xmatch-form"
                    action="/api/xmatch" method="post">
                {% module xsrf_form_html() %}

                <div class="row">
                  <div class="col-12">

                    <div class="form-group">
                      <label for="xmatch-query">Type or paste in <code>[Object Name] [RA] [Dec]</code>
                        rows separated by line breaks
                        (<a href="#" id="xmatch-example" >see an example</a>).
                        The maximum number of objects allowed is 5000.</label>
                      <textarea class="form-control" id="xmatch-query"
                                name="xmq" rows="14"></textarea>
                    </div>

                  </div>
                </div>

                <div class="row">
                  <div class="col-12">

                    <div class="form-group form-inline">
                      <label for="xmatch-matchradius">Match radius [arcsec]</label>
                      <input type="text" id="xmatch-matchradius" value="3.0"
                             class="w-25 form-control mx-sm-3">
                      <small id="xmatch-matchradius-helpline"
                             class="text-muted">
                        Maximum 30 arcsec.
                      </small>
                    </div>

                  </div>
                </div>

                <div class="row">
                  <div class="col-12">

                    <div class="form-row align-items-center justify-content-end">
                      <div class="col-sm-9">
                        <div class="form-check">
                          <input class="form-check-input lcc-result-ispublic"
                                 type="checkbox" id="xmatch-ispublic" checked="">
                          <label class="form-check-label" for="xmatch-ispublic">
                            Make dataset from query result publicly visible
                          </label>
                        </div>
                      </div>
                      <div class="d-flex col-sm-3">
                        <button class="btn btn-primary flex-grow-1"
                                type="submit" id="xmatch-submit">Search</button>
                      </div>
                    </div>

                  </div>
                </div>

              </form>

            </div>


            <div class="col-4">
              <h3>Add column filters</h3>

              <div class="form-inline">

                <select class="custom-select lcc-filtercolumn-select w-25 flex-grow-1"
                        id="xmatch-filtercolumn-select">
                </select>

                <select class="custom-select lcc-filtercondition-select flex-shrink-1 ml-2"
                        id="xmatch-filtercondition-select">
                  <option value="lt" selected>&lt;</option>
                  <option value="gt">&gt;</option>
                  <option value="le">&le;</option>
                  <option value="ge">&ge;</option>
                  <option value="eq">=</option>
                  <option value="ne">&ne;</option>
                  <option value="ct">contains</option>
                </select>

                <input type="text" class="form-control lcc-filtertarget w-25 ml-2"
                       data-searchtype="xmatch" placeholder="value"
                       id="xmatch-filtertarget">

                <button class="btn btn-secondary lcc-filter-add flex-shrink-1 ml-2 p-0"
                        type="button"
                        data-searchtype="xmatch"
                        id="xmatch-filter-add">
                  <img class="icon-svg"
                       alt="add this column filter"
                       src="{{ static_url('images/twotone-add-reverse-24px.svg') }}">
                </button>

              </div>

              <div class="row mt-2">
                <div class="col-12">

                  <div class="card px-2 py-2" >
                    <h6 class="text-muted">Active column filters</h6>
                    <div class="lcc-filterbucket" id="xmatch-filterbucket">

                    </div>
                  </div>

                </div>
              </div>

            </div>

            <!-- end of main search controls -->
          </div>

        </div>


        <!-- SQL QUERY TAB -->
        <!-- <div class="tab-pane" -->
        <!--      id="sql" role="tabpanel" aria-labelledby="sql-tab"> -->

        <!--   <div class="row mt-2"> -->
        <!--     <div class="col-12"> -->
        <!--       sql -->
        <!--     </div> -->
        <!--   </div> -->


        <!-- </div> -->

        <!-- RECENT DATASETS TAB -->
        <div class="tab-pane"
             id="datasets" role="tabpanel" aria-labelledby="datasets-tab">

          <div class="row mt-2">
            <div class="col-12">

              <h3>Datasets from recent search queries</h3>

              <p>The table below lists the 25 most recent public
                datasets generated on the LCC server. See <a href="/datasets">all
                available datasets</a> for a full list.</p>

              <table id="lcc-datasets-table" class="table table-hover table-sm">

                <thead class="bg-light">
                  <tr>
                    <th scope="col" width="100">Set ID</th>
                    <th scope="col" width="80">Objects</th>
                    <th scope="col" width="350">Query</th>
                    <th scope="col" width="150">Products</th>
                    <th scope="col" width="150">Last updated</th>
                  </tr>
                </thead>

                <tbody id="lcc-datasets-tablerows">

                </tbody>

              </table>

            </div>
          </div>

        </div>

        <!-- QUERY STATUS TAB -->
        <div class="tab-pane"
             id="results" role="tabpanel" aria-labelledby="results-tab">

          <div class="row mt-2">
            <div class="col-12">
              <h3>View status and results of running or completed queries</h3>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-12">

              <table class="table table-sm">
                <thead>
                  <tr>
                    <th width="200">time</th>
                    <th width="100">query ID</th>
                    <th width="80">status</th>
                    <th width="300">message</th>
                  </tr>
                </thead>

                <tbody id="query-status-stream">

                </tbody>
              </table>


            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>

{% end %}


{% block pagejs_modules %}

<!-- code mirror js -->
<!-- <script src="{{ static_url('js/codemirror.min.js') }}"></script>
-->
{% end %}


{% block pagejs %}

$(document).ready(function() {

// get the light curve collections
lcc_ui.get_lc_collections();

// get the most recent 25 datasets
lcc_ui.get_recent_datasets(25);

// UI action setup
lcc_ui.action_setup();



});

{% end %}
