{% extends 'base.html' %}

{% block pagecontent %}

<div class="container" >
  <div class="row justify-content-center" >
    <div class="col-sm-12 col-md-9" >
      {% raw flash_messages %}
    </div>
  </div>

  <div class="row align-items-center justify-content-center" >
    <div class="col-sm-12 col-md-5" >

      <div class="card mt-4 mb-1">
        <div class="card-body">
          <div class="card-title" >
            <h4>Sign up for an LCC-Server account</h4>
          </div>
          <div class="card-text" >
            <form action="/users/login" method="post">
              {% module xsrf_form_html() %}

              <div class="form-group" >
                <label for="email" >Email address</label>
                <input type="email" class="form-control"
                       name="email" id="email" required
                       placeholder="user@example.org">
              </div>
              <div class="form-group" >
                <label for="password" >Password</label>
                <input type="password" class="form-control"
                       name="password" id="password"
                       aria-describedby="passhelp" minlength="12"
                       autocomplete="new-password" required
                       placeholder="Type in your password">
                <small id="passhelp"
                       class="form-text text-muted">
                  Must be at least 12 characters long.
                </small>
              </div>
              <div class="form-group" >
                <label for="passwordverify" >Password again</label>
                <input type="password" class="form-control"
                       name="passwordverify" id="passwordverify"
                       minlength="12"
                       autocomplete="new-password" required
                       placeholder="Type in your password again to verify">
              </div>
              <button type="submit" class="btn btn-primary" >Sign up</button>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

{% end %}
