[Unit]
Description=LCC-Server authentication-authorization server
After=network.target

[Service]
CPUAccounting=yes
MemoryAccounting=yes
WorkingDirectory={{ lccserver_basedir }}
ExecStart={{ lccserver_venv }}/bin/authnzerver --cachedir={{ lccserver_cachedir }}
Restart=always
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=default.target
