/* fancy spinner thing - http://tobiasahlin.com/spinkit/

to use this:

<div class="spinner">
  spinner text goes here
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>

*/

.spinner {
    margin: 10px auto;
    width: 40px;
    height: auto;
    text-align: center;
    font-size: 1rem;
}

.spinner > div {
    background-color: #025AA5;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

a.tab-link {
    text-align: center;
    color: inherit;
}

table.table-sm {
    font-size: 14px;
}


span.fts-col {
    color: #d95f02;
    font-weight: bold;
}

span.kdtree-col {
    color: #7570b3;
    font-weight: bold;
}

thead.center-head {
    text-align: center;
}


.lc-collection-overview {
    max-height: 480px;
    overflow-y: auto;
}

.search-controls {
    min-height: 480px;
}

.icon-svg {
    width: 36px;
    height: auto;
}

.top-margin-row {
    margin-top: 3rem;
}

span.pop-span {
    cursor: pointer;
}

code {
    color: #636363;
}

.datatable-container {
    overflow-x: auto;
}

.dataset-table {
    width: 100%;
}


/* table sorter styles */
/* from http://tristen.ca/tablesort/demo/ */

th[role=columnheader]:not(.no-sort) {
    cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
    content: '';
    float: right;
    margin-top: 7px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #404040 transparent;
    visibility: hidden;
    opacity: 0;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
    border-bottom: none;
    border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
    visibility: visible;
    opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
    visibility: visible;
    opacity: 1;
}

.lcc-filterbucket {
    height: 23rem;
    overflow-y: auto;
}

.filterbucket-card {
    font-size: small;
}
