/* lcc-server.css - Waqas Bhatti (wbhatti@astro.princeton.edu) - Jul 2018
LICENSE: MIT. See the LICENSE file for details.

This contains the CSS styles for LCC server.
*/


/* various text, image, and table styles */

a.tab-link {
    text-align: center;
    color: inherit;
}

table.table-sm {
    font-size: 14px;
}


span.fts-col {
    color: #d95f02;
    font-weight: bold;
}

span.kdtree-col {
    color: #7570b3;
    font-weight: bold;
}

thead.center-head {
    text-align: center;
}


.lc-collection-overview {
    max-height: 480px;
    overflow-y: auto;
}

.search-controls {
    min-height: 480px;
}

.icon-svg {
    width: 36px;
    height: auto;
}

.table-icon-svg {
    width: 24px;
    height: auto;
}


.icon-logo {
    width: 36px;
    height: auto;
}


.top-margin-row {
    margin-top: 3rem;
}

span.pop-span {
    cursor: pointer;
}

code {
    color: #636363;
}

.datatable-container {
    overflow-x: auto;
    overflow-y: auto;
}

.lcc-filterbucket {
    height: 17.575em;
    overflow-y: auto;
}

.filterbucket-card {
    font-size: small;
    background: #fff3cd;
}

.lcc-filtercolumn-select {
    font-size: small;
}

/* styles for the objectinfo modal  */

.modal-toprow {
    height: 300px;
}

.objectinfo-table {
    font-size: 12px;
}

.objectinfo-table td, .objectinfo-table th {
    padding: 0.3rem;
    vertical-align: middle;
}

.no-wrap-break {
    white-space: nowrap;
}

canvas#finderchart {
    width: 100%;
}

td > .badge {
    padding: 0.4em;
}


#modal-phasedlc-container {
    height: 350px;
    overflow-y: auto;
}

.zoomable-tile {
    transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    position: relative;
    top: 0;
    left: 0;
}


/* table sorter styles */
/* from http://tristen.ca/tablesort/demo/ */

th[role=columnheader]:not(.no-sort) {
    cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
    content: '';
    float: right;
    margin-top: 7px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #404040 transparent;
    visibility: hidden;
    opacity: 0;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
    border-bottom: none;
    border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
    visibility: visible;
    opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
    visibility: visible;
    opacity: 1;
}


/* styles for details elements */
/* taken from the excellent pymdown-extensions docs:
   https://facelessuser.github.io/pymdown-extensions/extensions/details */
details {
  display: block;
}

details[open] > summary::before {
  content: "\25BC";
}

details summary {
  display: block;
  cursor: pointer;
}

details summary:focus {
  outline: none;
}

details summary::before {
  content: "\25B6";
  padding-right: 0.5em;
}

details summary::-webkit-details-marker {
  display: none;
}

/* Attach the "no-details" class to details tags
   in browsers that do not support them to get
   open/show functionality. */
details.no-details:not([open]) > * {
  display: none;
}

details.no-details:not([open]) summary {
  display: block;
}
